// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
     text-align: center;
     margin-top: 0.30em;
     margin-bottom: 0;
     padding-bottom: 0;
     font-size: 60px;
     color: dimgrey;
     float:top;
    display: inline-block;
 }

.background{
    color:darkgray;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

//Styling for nav bar.
//********************
nav{
    position: inline-block;
    text-align: center;
    width: 100%;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    text-align: center;
}

nav a {
    background-color: #c2c2c2;
    color: white;
    font-size: 30px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: strong;
}

nav a:hover{
    background-color: black;
}

//End styling for nav bar.
//*************************

p{
    font-size: 20px;
}

.logo{
    float:left;
    margin-right: 30px;

}



.Quote{

    font-size: 40px;
    font-family: Arial;

    background-color: white;

   margin: 80px 300px;
    padding: 14px 28px;

}
.Quote a{
    color:grey;
}

.about{
     width: 1500px;
     height:150px;
     margin:25px auto;
     Background:lightgray;
     position:center;
 }
.home{
    width: 100%;
    height:100%;
    margin: 20px auto;
    padding: 0;
    Background:lightgray;
    position:center;
}

.main{
    text-align: center;
}

.centered{
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

.header{
    width: 600px;
    height:400px;

    padding: 0;

    Background:lightgray;
    position:center;
}

.main button {

    width: 90px;
    height: 40px;

}
label {

    font-size: 1em;

    font-weight: bold;

}
.form{
    width: auto;
    height:100%;
    margin: 20px auto;
    padding: 0;

    Background:lightgray;
    position:center;
}

//Styling for games form.
input[type=text]{
    width: 30%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    display: inline-block;
}

textarea{
    width: 30%;
    height: 300px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    display: inline-block;
}

input[type=button], input[type=submit]{
    background-color: #32a852;
    float: right;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}
//End styling for games form.


//Styling for images on homepage.
//**************************
.gamelist{
    display: flex;
    flex-wrap: wrap;
    background-color:lightgray;
}

.gamelist img{
    width: 464px;
    height:500px;
}
.imgcontainer{
    position: relative;
    display: inline-block;
    background:lightgray;
    margin:10px 0 300px 10px;
    flex-grow: 1;
    height:200px;    
    width: calc(100% * (1/4) - 10px - 1px)
}

.imghover{
    display: none;
    padding-left: 10px;
}

.imgcontainer:hover .imghover {
   width:100%;
   height:100%;
   background:rgba(0,0,0,.5);
   position:absolute;
   top:0;
   left:0;
   display:inline-block;
   box-sizing:border-box;
   color: white;
}
//End image container styling.