// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
     text-align: center;
     margin-top: 0.30em;
     margin-bottom: 0;
     padding-bottom: 0;
     font-size: 60px;
     color: dimgrey;
     float:top;
     display: inline-block;
 }

.background{
    color:darkgray;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

//Styling for nav bar.
//********************
nav{
    position: inline-block;
    text-align: center;
    width: 100%;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    text-align: center;
}

nav a {
    background-color: #c2c2c2;
    color: black;
    font-size: 30px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: strong;
}

nav a:hover{
    background-color: black;
}

//End styling for nav bar.
//*************************

p{
    font-size: 20px;
}

.logo{
    float:left;
    margin-right: 30px;

}



.Quote{

    font-size: 40px;
    font-family: Arial;

    background-color: white;

   margin: 80px 300px;
    padding: 14px 28px;

}
.Quote a{
    color:grey;
}

.about{
     width: 1500px;
     height:150px;
     margin:25px auto;
     Background:lightgray;
     position:center;
 }
.home{
    width: 100%;
    height:100%;
    margin: 20px auto;
    padding: 0;
    Background:lightgray;
    position:center;
}

.centered{
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

.header{
    width: 600px;
    height:400px;
    padding: 0;
    Background:lightgray;
    position:center;
}

label {
    font-size: 1em;
    font-weight: bold;
}

//Styling for games form.
.form{
    width: auto;
    height:100%;
    margin: 20px auto;
    padding: 0;
    Background:lightgray;
    position:center;
}

select{
    width: 20%;
    padding: 8px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    display: inline-block;
}

input[type=text], input[type=number], .file{
    width: 90%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    display: inline-block;
    margin-bottom: 50px;
}

textarea{
    width: 90%;
    height: 100px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    display: inline-block;
}

input[type=button], input[type=submit]{
    background-color: #32a852;
    float: right;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    box-shadow: 1px 1px 3px black;
}
//End styling for games form.


//Styling for images on homepage.
//**************************
.gamelist{
    display: flex;
    flex-wrap: wrap;
    background-color:lightgray;
    padding-top: 10px;
}

.gamelist img{
    width: 100%;
    height: 90%;
    transition-duration: 0.3s;
}

.gamelist img:hover{
    width: 102%;
    height: 92%;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px black;
}

.imgcontainer{
    position: relative;
    display: inline-block;
    background:lightgray;
    margin:0px 0 10px 10px;
    flex-grow: 0;
    height:550px;    
    width: calc(100% * (1/4) - 18px - 1px);
    line-height: 30px;
    border: 3px solid white;
}

.imghover{
    display:none;
    padding-left: 10px;
    width:102%;
   height:auto;
   background:rgba(255,255,255,.8);
   position:absolute;
   top:0;
   left:0;
   box-sizing:border-box;
   color: black;
   word-wrap:break-word;
   pointer-events: none;
}

.crud{
    position: absolute;
}

.crud a{
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 3px black;
}

//End image container styling.

.allgames > h3{
    color: dimgrey;
    background-color: lightgray;
    display: inline-block;
    padding: 10px;
    margin-bottom: 0;
    border: 2px solid black;
    border-bottom: 0;
}

.game_form{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    position: relative;
}

.topgames, .purchase_form, .forms{
    background-color: lightgray;
    padding: 10px;
    overflow: auto;
}

.forms p{
    width: 25%;
    height: auto;
    margin: 0 auto;
}