// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
     text-align: center;
     margin-top: 0.30em;
     margin-bottom: 0;
     padding-bottom: 0;
     font-size: 60px;
     color: dimgrey;
     float:top;
    display: inline-block;
 }

.background{
    color:darkgray;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

//Styling for nav bar.
//********************
nav{
    position: fixed;
    text-align: center;
    width: 100%;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    text-align: center;
}

nav a {
    background-color: #c2c2c2;
    color: white;
    font-size: 30px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: strong;
}

nav a:hover{
    background-color: black;
}

//End styling for nav bar.
//*************************

p{
    font-size: 40px;
    margin-left: 60px;
}
.logo{
    float:left;
    margin-right: 30px;

}
.gamelist{
    margin-left:200px;
}

.gamelist img{

    width: 400px;
    height:400px;
}

.Quote{

    font-size: 40px;
    font-family: Arial;

    background-color: white;

   margin: 80px 300px;
    padding: 14px 28px;

}
.Quote a{

    color:grey;


}
form{
    width: 100px;
    margin-left: 500px;
    margin-top:100px;
    font-size: 30px;
}

input{
    font-size: 60px;

}
textarea{
    font-size: 40px;

}
.about{
     width: 1500px;
     height:150px;
     margin:25px auto;
     Background:lightgray;
     position:center;
 }
.home{
    width: 100%;
    height:100%;
    margin: 20px auto;
 padding: 0;

    Background:lightgray;
    position:center;
}

.main{
    text-align: center;
    padding-bottom: 90px;
}

.header{
    width: 600px;
    height:400px;

    padding: 0;

    Background:lightgray;
    position:center;
}

.main button {

    width: 90px;
    height: 40px;

}
label {

    font-size: 1em;

    font-weight: bold;

}
.form{
    width: auto;
    height:100%;
    margin: 20px auto;
    padding: 0;

    Background:lightgray;
    position:center;
}

//Styling for games form.
input[type=text]{
    width: 50%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}

textarea{
    width: 100%;
    height: 300px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
}

input[type=button], input[type=submit]{
    background-color: #32a852;
    float: right;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
}
//End styling for games form.